# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for DIBS
# @created 2021-01-12
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/dibs
# =============================================================================
